.form {
  display: flex;
  max-width: 400px;
}

.textfield {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;

  &:focus {
    border-right: none;
  }
}

.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
