.wrapper {
  display: grid;
  grid-template-columns: minmax(250px, 2.7fr) 9.3fr;
  gap: var(--space-30);

  & > main {
    padding: var(--space-30) 0;
    padding-right: var(--space-30);
    padding-top: calc(var(--nav-height) + var(--space-30));
  }
}
