.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(240px, 2.7fr) 9.3fr;
  column-gap: var(--space-30);
  padding: var(--space-15) 0;
  background-color: var(--background-paper);
  box-shadow: 3px 0 20px var(--shadow-default);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: var(--space-15);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-15);
  padding-right: var(--space-15);

  & form {
    flex-grow: 1;
  }
}

.activity {
  display: flex;
  align-items: center;
  gap: var(--space-15);

  & svg {
    width: var(--space-13) !important;
    height: var(--space-13) !important;
  }

  & a {
    color: var(--color-main);
    font-family: "Roboto", sans-serif !important;

    &:active,
    &:visited {
      font-family: "Roboto", sans-serif !important;
    }
  }
}
